Repository oforfamar/home-zimbru: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, prettier

lefthook.yml:

# EXAMPLE USAGE:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npm run lint:fix && git add {staged_files}
    format:
      glob: "*.{js,jsx,ts,tsx,json,md,html,css,yml,yaml}"
      run: npm run format && git add {staged_files}
    type-check:
      run: npm run typecheck
    find-deadcode:
      run: npm run find-deadcode
      stage_fixed: true
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,html,css,yml,yaml}"
      run: npm run format && git add {staged_files}

commit-msg:
  commands:
    lint-commit:
      run: npx --no -- commitlint --edit

pre-push:
  parallel: true
  commands:
    npm-audit:
      run: npm audit --omit dev --audit-level=moderate
    format:
      run: npx --no -- prettier --check .

feat: wip
  .eslintrc.cjs
  packages/file-mover/package.json
  packages/file-mover/src/config/index.ts
  packages/file-mover/src/env.ts
  packages/file-mover/src/helpers/db.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/helpers/nameHelpers.ts
  packages/file-mover/src/helpers/transformers/convertToObject.ts
  packages/file-mover/src/helpers/transformers/overwriteWithInfoFromDb.ts
  packages/file-mover/src/index.ts
  packages/file-mover/src/schemas/anime.ts
  packages/file-mover/src/seeds/shows.ts
  packages/file-mover/src/types/config.ts
  packages/file-mover/src/types/environment.d.ts
Due: lint, format, prettier

feat: add monorepo config and first package (#1)
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  .prettierrc
  README.md
  commitlint.config.js
  lefthook.yml
  lerna.json
  package-lock.json
  package.json
  packages/file-mover/package.json
  packages/file-mover/src/config/index.ts
  packages/file-mover/src/env.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/helpers/nameHelpers.ts
  packages/file-mover/src/helpers/transformers/convertToObject.ts
  packages/file-mover/src/helpers/transformers/index.ts
  packages/file-mover/src/helpers/transformers/overwriteWithInfoFromDb.ts
  packages/file-mover/src/helpers/transformers/removeProviderPrefix.ts
  packages/file-mover/src/helpers/transformers/removeResolutionSufix.ts
  packages/file-mover/src/index.ts
  packages/file-mover/src/types/anime.ts
  packages/file-mover/src/types/config.ts
  packages/file-mover/src/types/environment.d.ts
  packages/file-mover/src/types/file.ts
  packages/file-mover/tsconfig.json
  tsconfig.json
Due: lint, format, prettier

feat: finish the new file-mover package
  .eslintrc.cjs
  .gitignore
  package-lock.json
  packages/file-mover/.env.example
  packages/file-mover/package.json
  packages/file-mover/src/config/index.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/helpers/getDestinationFilename.ts
  packages/file-mover/src/helpers/getShowsData.ts
  packages/file-mover/src/helpers/logger.ts
  packages/file-mover/src/helpers/showCorrectors/getFileName.ts
  packages/file-mover/src/helpers/showCorrectors/getShowName.ts
  packages/file-mover/src/helpers/showCorrectors/getShowSeason.ts
  packages/file-mover/src/helpers/showCorrectors/index.ts
  packages/file-mover/src/helpers/transformers/convertToObject.ts
  packages/file-mover/src/helpers/transformers/index.ts
  packages/file-mover/src/helpers/transformers/overwriteWithInfoFromDb.ts
  packages/file-mover/src/helpers/transformers/removeProviderPrefix.ts
  packages/file-mover/src/helpers/transformers/removeResolutionSufix.ts
  packages/file-mover/src/index.ts
  packages/file-mover/src/types/anime.ts
  packages/file-mover/src/types/config.ts
  packages/file-mover/src/types/environment.d.ts
  packages/file-mover/src/types/file.ts
  packages/file-mover/src/types/show.ts
Due: lint, format, prettier

feat: finish the new file-mover package (#2)
  .eslintrc.cjs
  .gitignore
  package-lock.json
  packages/file-mover/.env.example
  packages/file-mover/package.json
  packages/file-mover/src/config/index.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/helpers/getDestinationFilename.ts
  packages/file-mover/src/helpers/getShowsData.ts
  packages/file-mover/src/helpers/logger.ts
  packages/file-mover/src/helpers/showCorrectors/getFileName.ts
  packages/file-mover/src/helpers/showCorrectors/getShowName.ts
  packages/file-mover/src/helpers/showCorrectors/getShowSeason.ts
  packages/file-mover/src/helpers/showCorrectors/index.ts
  packages/file-mover/src/helpers/transformers/convertToObject.ts
  packages/file-mover/src/helpers/transformers/index.ts
  packages/file-mover/src/helpers/transformers/overwriteWithInfoFromDb.ts
  packages/file-mover/src/helpers/transformers/removeProviderPrefix.ts
  packages/file-mover/src/helpers/transformers/removeResolutionSufix.ts
  packages/file-mover/src/index.ts
  packages/file-mover/src/types/anime.ts
  packages/file-mover/src/types/config.ts
  packages/file-mover/src/types/environment.d.ts
  packages/file-mover/src/types/file.ts
  packages/file-mover/src/types/show.ts
Due: lint, format, prettier

feat: change how .env file is loaded, change how errors are thrown
  .gitignore
  package-lock.json
  packages/file-mover/.env.example
  packages/file-mover/package.json
  packages/file-mover/src/env.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/index.ts
Due: lint, format, prettier

chore: add EOL in .gitignore
  .gitignore
Due: none

feat: change how .env file is loaded, change how errors are thrown (#3)
  .gitignore
  package-lock.json
  packages/file-mover/.env.example
  packages/file-mover/package.json
  packages/file-mover/src/env.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/index.ts
Due: lint, format, prettier

feat: update logic
  package-lock.json
  packages/file-mover/package.json
  packages/file-mover/src/config/index.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/index.ts
  packages/file-mover/src/types/config.ts
  packages/file-mover/src/types/environment.d.ts
  packages/file-mover/tsconfig.json
Due: lint, format, prettier

chore: update npm command
  packages/file-mover/package.json
Due: format, prettier

chore: add the gid value in env.example
  packages/file-mover/.env.example
Due: none

Feat/update logic (#4)
  package-lock.json
  packages/file-mover/.env.example
  packages/file-mover/package.json
  packages/file-mover/src/config/index.ts
  packages/file-mover/src/helpers/fileHelpers.ts
  packages/file-mover/src/index.ts
  packages/file-mover/src/types/config.ts
  packages/file-mover/src/types/environment.d.ts
  packages/file-mover/tsconfig.json
Due: lint, format, prettier

chore: update libraries to remove vulnerabilities
  lerna.json
  package-lock.json
  package.json
  packages/file-mover/package.json
Due: format, prettier

chore: update libraries to remove vulnerabilities (#5)
  lerna.json
  package-lock.json
  package.json
  packages/file-mover/package.json
Due: format, prettier

feat: add notification package
  README.md
  package-lock.json
  package.json
  packages/file-mover/README.md
  packages/notifications/.env.example
  packages/notifications/README.md
  packages/notifications/package.json
  packages/notifications/tsconfig.json
Due: format, prettier

feat: add notification package (#6)
  README.md
  package-lock.json
  package.json
  packages/file-mover/README.md
  packages/notifications/.env.example
  packages/notifications/README.md
  packages/notifications/package.json
  packages/notifications/tsconfig.json
Due: format, prettier

Create github-actions-demo.yml
  .github/workflows/github-actions-demo.yml
Due: format, prettier

chore: remove export from type
  packages/file-mover/src/types/show.ts
Due: lint, format, prettier

feat: change lerna to nx
  .gitignore
  lefthook.yml
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/file-mover/package.json
  packages/notifications/.env.example
  packages/notifications/README.md
  packages/notifications/package.json
  packages/notifications/tsconfig.json
Due: format, prettier

feat: update file-mover
  packages/file-mover/src/index.ts
  packages/file-mover/tsconfig.json
Due: lint, format, prettier

fixing file-mover
  package-lock.json
  package.json
  packages/file-mover/package.json
  packages/file-mover/tsconfig.json
  packages/scraper/package.json
  packages/scraper/src/config/index.ts
  packages/scraper/src/env.ts
  packages/scraper/src/helpers/logger.ts
  packages/scraper/src/index.ts
  packages/scraper/src/types/config.ts
  packages/scraper/src/types/environment.d.ts
  packages/scraper/tsconfig.json
Due: lint, format, prettier
